<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>RockFire</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="ltop">
                <h1>RockFire</h1>
            </div>
            <div class="lbottom">
                <div class="lbtns"><a href="/dashboard">Dashboard</a></div>
                <div class="lbtns">
                    <a href="/wallet">Wallet</a>
                </div>
                <div class="lbtns"><a href="/analytic">Analytic</a></div>
                <div class="lbtns"><a href="/history">History</a></div>
                <div class="lbtns"><a href="/news">News</a></div>
                <div class="lbtns"><a href="/settings">Setting</a></div>
                <div class="lbtns"><a href="/logout">Logout</a></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="rtopl"><h1>Dashboard</h1></div>
                <div class="rtopr">
                    <div class="searchtxt">Search</div>
                    <input type="search" name="search" id="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>