<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>RockFire</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="ltop">
                <h1>RockFire</h1>
            </div>
            <div class="lbottom">
                <div class="lbtns"><a href="/dashboard">Dashboard</a></div>
                <div class="lbtns">
                    <a href="/wallet">Wallet</a>
                </div>
                <div class="lbtns"><a href="/analytic">Analytic</a></div>
                <div class="lbtns"><a href="/history">History</a></div>
                <div class="lbtns"><a href="/news">News</a></div>
                <div class="lbtns"><a href="/settings">Setting</a></div>
                <div class="lbtns"><a href="/logout">Logout</a></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="rtopl"><h1>Dashboard</h1></div>
                <h1 class="buybutton">
                    Buy
                </h1>
                <div class="rtopr">
                    <div class="searchtxt">Search</div>
                    <input type="search" name="search" id="">
                </div>
            </div>
            <div class="rmiddle">
                <div class="profiles">
                    <div class="profile">
                        <img src="/imgs/profileimgg.jpg" alt="" class="profileimg">
                        <div class="balance">100000$</div>
                    </div>
                    <div class="profile">
                        <img src="/imgs/profileimgg.jpg" alt="" class="profileimg">
                        <div class="balance">100000$</div>
                    </div>
                    <div class="profile">
                        <img src="/imgs/profileimgg.jpg" alt="" class="profileimg">
                        <div class="balance">100000$</div>
                    </div>
                </div>
            </div>
            <div class="rbottom">
                <div class="rbtop">
                    <div class="rbtopl">Leadboard</div>
                    <div class="rbtopr">
                        <div class="individual">individual</div>
                        <div class="team">Team</div>
                    </div>
                </div>
                <div class="rbbtm">
                    <div class="profiles">
                        <div class="profile">
                            <img src="/imgs/profileimgg.jpg" alt="" class="profileimg">
                            <div class="balance">100000$</div>
                        </div>
                        <div class="profile">
                            <img src="/imgs/profileimgg.jpg" alt="" class="profileimg">
                            <div class="balance">100000$</div>
                        </div>
                        <div class="profile">
                            <img src="/imgs/profileimgg.jpg" alt="" class="profileimg">
                            <div class="balance">100000$</div>
                        </div>
                    </div>
                </div>
                <div class="rbottombtm">
                    <div class="ranks">
                        <div class="rank">Rank</div>
                        <div class="nos">1</div>
                        <div class="nos">1</div>
                        <div class="nos">1</div>
                        <div class="nos">1</div>

                    </div>
                    <div class="names">
                        <div class="nametitle">Names</div>
                        <div class="name">CaptainLevi</div>
                        <div class="name">CaptainLevi</div>
                        <div class="name">CaptainLevi</div>
                        <div class="name">CaptainLevi</div>
                    </div>
                    <div class="stackids">
                        <div class="idtitle">Stact ID</div>
                        <div class="id">USI-34</div>
                        <div class="id">USI-34</div>
                        <div class="id">USI-34</div>
                        <div class="id">USI-34</div>
                    </div>
                    <div class="points">
                        <div class="pointstitle">Points</div>
                        <div class="point">2383487</div>
                        <div class="point">2383487</div>
                        <div class="point">2383487</div>
                        <div class="point">2383487</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const button = document.querySelector(".buybutton");
    button.addEventListener("click",()=>{
        fetch("/create-checkout-session",{
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                items: [
                    { id:1, quantity: 1 },
                    { id:2, quantity: 1 }
                ]
            })
        }).then(res => {
            if(res.ok) return res.json()
            return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
        // console.log(url);
        window.location = url
    })
    .catch(e =>{
        console.error(e.error)
    })
})
</script>
</html>