<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="news.css">
    <title>RockFire</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="ltop">
                <h1>RockFire</h1>
            </div>
            <div class="lbottom">
                <div class="lbtns"><a href="/dashboard">Dashboard</a></div>
                <div class="lbtns">
                    <a href="/wallet">Wallet</a>
                </div>
                <div class="lbtns"><a href="/analytic">Analytic</a></div>
                <div class="lbtns"><a href="/history">History</a></div>
                <div class="lbtns"><a href="/news">News</a></div>
                <div class="lbtns"><a href="/settings">Setting</a></div>
                <div class="lbtns"><a href="/logout">Logout</a></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop">
                <div class="rtopl">
                    <h1>Dashboard</h1>
                </div>
                <div class="rtopr">
                    <div class="searchtxt">Search</div>
                    <input type="search" name="search" id="">
                </div>
            </div>
            <div class="rbottom">
                <div class="news">
                    <div class="newstitle">News</div>
                    <div class="newsdis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta totam sint
                        minima cupiditate placeat cumque dolores numquam itaque, voluptates velit in vero. Recusandae,
                        odit cupiditate facere molestiae eaque fuga est!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam necessitatibus quidem harum
                        adipisci consectetur suscipit ullam? Earum facilis laboriosam excepturi labore dolorem maxime,
                        dolorum sapiente placeat debitis ratione doloremque. Sit?
                        Ex provident beatae distinctio, tempore cum alias officiis? Odit cupiditate cumque dolores hic
                        minus accusamus beatae assumenda laudantium provident, ipsa possimus, mollitia adipisci quos
                        eos! Provident neque molestias delectus consequuntur.
                        Quod minima laudantium quidem corrupti provident, eligendi mollitia, sed expedita, id
                        voluptatibus velit magni autem illum vitae. Totam expedita tempore vitae iure repellat unde
                        veritatis, earum quisquam porro amet est.lorem Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Soluta, facere amet. Ea a, assumenda temporibus labore non recusandae repellat
                        aliquid consequatur, quam accusantium atque quaerat nesciunt dolore debitis in nisi.
                        Ex delectus necessitatibus itaque dolore omnis dicta quasi numquam inventore, distinctio
                        laboriosam voluptatibus tempora! Ea esse odit cupiditate! Deserunt laboriosam repellendus
                        reprehenderit porro dolore. Debitis eveniet magni officia voluptatibus eius!
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>