.news{
    height: 84vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.newstitle{
    font-size: 30px;
}
.newsdis{
    text-align: center;
    width: 600px;
    font-size: 18px;

}
.rbottom{
    height: 84vh;
}