body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title{
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.rem{
    display: flex;
}
.remember{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 700px;
    margin-top: 20px;
}
.last{
    font-size: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    padding: 0 12px;
    box-sizing: border-box;
    line-height: 48px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 700px;
}
button{
    width: 700px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    background: #0081ff;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.form{
    display: flex;
    flex-direction: column;
}
.login:hover{
    cursor: pointer;
}






.buybutton{
    display: flex;
    justify-content: center;
    margin: 130px 0;
    margin: 130px auto;
    width: 200px;
    border: 2px solid red;
    padding: 0.5em;
    border: 1px solid #3e3e44;
    border-radius: 0.5rem;
    background-color: transparent;
    -webkit-transition: .2s;
    transition: .2s;
    color: #f1f1ff;
}
.buybutton:hover{
    background-color: #07A3D7;
    cursor: pointer;
}